---
interface Props {
	class?: string;
	id?: string;
}

const { class: className, id } = Astro.props;
---

<section {id} class:list={['w-full container min-h-dvh', 'flex flex-col justify-center items-center', className]}>
	<slot />
</section>
