---
import Layout from '@app/layouts/Layout.astro';
import { Projects as ProjectsWidget } from '@widgets/projects';
import { SectionContainer } from '@/shared/ui';
---

<Layout
	title="Projects Catalog - David Sandoval"
	description="Explore all projects built by David Sandoval: scalable web and mobile applications."
	img_preview="/projects/portfolio.webp"
	isHome={false}
>
	<SectionContainer id="projects-catalog" class="w-full max-w-5xl px-4">
		<h2
			class="text-4xl md:text-5xl font-bold font-pixel-clean text-text-main mb-12 text-center uppercase tracking-wide"
		>
			Projects Catalog
		</h2>
		<ProjectsWidget showAll={true} />
	</SectionContainer>
</Layout>
