---
import { CertificationBadge, getBadgesData } from '@entities/badge';
import { createScopedUiTranslator, getLanguageFromLocale } from '@shared/config/i18n';

const lang = getLanguageFromLocale(Astro.currentLocale);
const tBadges = createScopedUiTranslator(lang, 'sections.badges');
const badges = getBadgesData(key => tBadges(key as Parameters<typeof tBadges>[0]));
---

<ul class="flex flex-wrap items-center justify-center gap-4">
	{
		badges.map(badge => (
			<li>
				<CertificationBadge src={badge.image} alt={badge.label} href={badge.link} />
			</li>
		))
	}
</ul>
