---
import BriefcaseIcon from '@assets/icons/Briefcase.astro';
import BrainIcon from '@assets/icons/Brain.astro';
import CodeIcon from '@assets/icons/Code.astro';
import ProfileCheckIcon from '@assets/icons/ProfileCheck.astro';
import ScrollTextIcon from '@assets/icons/ScrollText.astro';
import SystemIcon from '@assets/icons/System.astro';

interface Props {
	lang?: unknown;
	navItems: Array<{
		title: string;
		label: string;
		url: string;
		icon: string;
	}>;
}

const { navItems } = Astro.props;
---

<nav
	class="hidden md:flex items-center justify-center gap-4 lg:gap-8 font-mono"
	aria-label="Main navigation"
>
	{
		navItems.map(link => (
			<a
				class="relative flex items-center gap-1.5 px-2 py-2 text-sm font-bold uppercase tracking-wide transition text-text-main hover:text-primary-500 dark:hover:text-primary-500 whitespace-nowrap"
				aria-label={link.label}
				href={link.url}
			>
				{link.icon === 'experience' && <BriefcaseIcon class="size-4" />}
				{link.icon === 'research' && <BrainIcon class="size-4" />}
				{link.icon === 'projects' && <CodeIcon class="size-4" />}
				{link.icon === 'devlog' && <ScrollTextIcon class="size-4" />}
				{link.icon === 'about-me' && <ProfileCheckIcon class="size-4" />}
				{link.icon === 'technologies' && <SystemIcon class="size-4" />}
				<span>{link.title}</span>
			</a>
		))
	}
</nav>

<style>
	nav a::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0;
		height: 2px;
		background-color: currentColor;
		transition: all 0.3s ease;
		transform: translateX(-50%);
	}

	nav a:hover::after {
		width: calc(100% - 1rem);
	}

	nav a.active::after {
		width: calc(100% - 1rem);
	}
</style>
