---
interface Props {
	lang?: unknown;
	navItems: Array<{
		title: string;
		label: string;
		url: string;
	}>;
}

const { navItems } = Astro.props;
---

<nav
	class="hidden md:flex items-center justify-center gap-8 font-mono"
	aria-label="Main navigation"
>
	{
		navItems.map(link => (
			<a
				class="relative block px-2 py-2 text-sm font-bold uppercase tracking-wide transition text-text-main hover:text-primary-500 dark:hover:text-primary-500"
				aria-label={link.label}
				href={link.url}
			>
				{link.title}
			</a>
		))
	}
</nav>

<style>
	nav a::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0;
		height: 2px;
		background-color: currentColor;
		transition: all 0.3s ease;
		transform: translateX(-50%);
	}

	nav a:hover::after {
		width: calc(100% - 1rem);
	}

	nav a.active::after {
		width: calc(100% - 1rem);
	}
</style>
